body {
    background-image: url('/images/Fondo2.jpg');
    /* background: url('/images/fondo2.jpg') no-repeat center center fixed; */
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}
